.cmdk {

    [cmdk-dialog] {
        max-width: 640px;
        width: 45vw;
        background: linear-gradient(136.61deg, rgb(39, 40, 43) 13.72%, rgb(45, 46, 49) 74.3%);
        border-radius: 8px;
        overflow: hidden;
        padding: 0;
        box-shadow: 0 16px 70px rgb(0 0 0 / 20%);
    }


    [cmdk-input] {
        // font-family: var(--font-sans);
        border: none;
        width: 100%;
        font-size: 18px;
        padding: 20px;
        outline: none;
        background: rgb(30 41 59);
        color: hsl(0, 0%, 9%);
        border-bottom: 1px solid hsl(0, 0%, 88.7%);
        border-radius: 0;
        caret-color: #6e5ed2;
        margin: 0;

        &::placeholder {
            color: hsl(0, 0%, 56.1%);
        }
    }

    [cmdk-item] {
        content-visibility: auto;

        cursor: pointer;
        height: 48px;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 16px;
        color: white;
        user-select: none;
        will-change: background, color;
        transition: all 150ms ease;
        transition-property: none;
        position: relative;

        &[aria-selected='true'] {
            background: rgb(55 65 81);

            svg {
                color: rgb(55 65 81);
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                z-index: 123;
                width: 3px;
                height: 100%;
                background: #5f6ad2;
            }
        }

        &[aria-disabled='true'] {
            color: hsl(0, 0%, 78%);
            cursor: not-allowed;
        }

        &:active {
            transition-property: background;
            background: rgb(75 85 99);
        }

        &+[cmdk-item] {
            margin-top: 4px;
        }

        svg {
            width: 16px;
            height: 16px;
            color: hsl(0, 0%, 52.3%);
        }
    }

    [cmdk-list] {
        height: min(300px, var(--cmdk-list-height));
        max-height: 400px;
        overflow: auto;
        overscroll-behavior: contain;
        transition: 100ms ease;
        transition-property: height;
    }

    [cmdk-group-heading] {
        user-select: none;
        font-size: 12px;
        color: hsl(0, 0%, 43.5%);
        padding: 0 8px;
        display: flex;
        align-items: center;
    }

    [cmdk-empty] {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        white-space: pre-wrap;
        color: white
    }
}