.dock-container {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  z-index: 80;  
  position: fixed;
  margin: auto;
}

.dock-container-left {
  padding-left: 0.7rem;
  left: 40px;
  bottom: 0;
  height: 100%;
  width: var(--dock-short-edge-length);
}

.dock-container-right {
  padding-left: 0.7rem;
  right: 40px;
  bottom: 0;
  height: 100%;
  width: var(--dock-short-edge-length);
}

.dock-container-bottom {
  padding-bottom: 0.7rem;
  left: 0;
  bottom: 40px;
  width: 100%;
  height: var(--dock-short-edge-length);
}



/* FIXME: change later for vertical */
@media (min-width: 768px) {
  .dock {
    width: max-content;
    overflow-x: visible;
  }
}

/*  styles for the dock base */
.dock-el {
   /* hsla: hue, saturation, lightness, alpha */
  background-color: var(--dock-background-color);
  /* background-color: #F3F3F3; */
  box-shadow: inset 0 0 0 0.2px hsla(0, 0%, 96%, 0.7),
     hsla(0, 0%, 60%, 0.4) 2px 2px 30px 5px;
  position: relative;
  padding: 0.3rem;
  border-radius: var(--dock-border-radius);
  transition: transform 0.3s ease;
  backdrop-filter: blur(21.4378px);
  margin: auto;

  display: flex;
  justify-content: space-between;

  /* uncomment to use bg image */
  background-image: url('../public/dock-bg.svg');
  background-position: 0% 60%;
  background-repeat: no-repeat;
  user-select: none;
}

.dock-el ::before:not(.overlay) {
  content: '';
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border: inherit;
  /* backdrop-filter: blur(10px); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dock-el-left {
  width: 100%;
  height: max-content;
  flex-direction: column;
  align-items: flex-start;
}

.dock-el-right {
  width: 100%;
  height: max-content;
  flex-direction: column;
  align-items: flex-end;
}

.dock-el-bottom {
  width: max-content;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
}

.divider {
  height: 100%;
  width: 0.2px;
  background-color: hsla(0, 0%, 26%, 0.3);
  margin: 0 4px;
}

.dock-item-img {
  /* set up browser for performance optimization */
  will-change: width;
  will-change: height;
}

/* css for the icon buttons */
.dock-item-container {
  position: relative;
  border-radius: 0.5rem;
}

.dock-item-container:hover > .dock-item-tooltip {
    display: block;
}

.dock-item-container > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin: 0.2rem 0,
  }

.dock-item-container-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.dock-item-container-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.dock-item-container-bottom {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin: -0.18em 0.555em;
}


/* style for the hover over titles */
.dock-item-tooltip {
  --double-border: 0 0 0 0 white;
  /* FIXME: changed left and top */
  z-index: 70;
  white-space: nowrap;
  position: absolute;
  background-color: var(--dock-background-color);
  backdrop-filter: blur(5px);
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  box-shadow: hsla(0deg, 0%, 0%, 30%) 0px 1px 5px 2px, var(--double-border);
  color: var(--gray-800);
  font-family: var(--sf-pro-text);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  display: none;
  width: fit-content;
  text-transform: uppercase;
}

.dock-item-tooltip-left {
  left: 110%;
  text-align: left;
}

.dock-item-tooltip-right {
  right: 110%;
  text-align: right;
}

.dock-item-tooltip-bottom {
  top: -80%;
  text-align: center;
}

/* dot for underneath */
.dot {
  height: 4px;
  width: 4px;
  margin: 0px;
  border-radius: 50%;
  background-color: var(--gray-500);
}