.infinite-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; 
    background-color: var(--background-color);
    /* uncomment to use grid for designing and debugging */
    /* one grid square is 25 units */
    /* background-image: url(../public/grid.svg);
    background-size: 200px 100px;
    background-position: 1.9% 1.5%; */
}

.infinite-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf-div {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.inf-click-div {
    position: absolute;
    user-select: none;
}