.nav-container {
  /* background: rgba(193, 20, 20, 0.75); */
  background: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  /* set absolute width to determine  */
  width: 40rem;

  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  z-index: 99;
}

.nav-item {
  color: var(--gray-400);
  padding: 30px 25px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--sf-pro-text);
  font-size: 1em;
  font-weight: 400;
  z-index: 2;
  text-decoration: none;
}

.nav-item-highlighter {
  width: 125px;
  height: 55%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.25);
  z-index: 1;
  visibility: hidden;
  transition: left .25s;
}

/* division into a new thing here */

.nav-item.active {
  color: var(--gray-800);
}

.nav-item.active ~ .nav-item-highlighter {
  visibility: visible;
}

/* .nav-item.active.item-0 ~ .nav-item-highlighter {
  left: 12.5%;
}

.nav-item.active.item-1 ~ .nav-item-highlighter {
  left: 46.2%;
}

.nav-item.active.item-2 + .nav-item-highlighter {
  left: 84%;
} */

.nav-item .nav-item-text {
  opacity: 1;
  /* visibility: hidden; */
  text-transform: uppercase;
  transition: opacity 0.25s;
}

.nav-item.active .nav-item-text {
  visibility: visible;
  opacity: 1;
}
