.message {
  width: 750px;
  font-weight: 400;
  font-size: 2.1em;
  line-height: 1.1em;
}

.terms {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.1em;
}

.terms a {
  color: var(--gray-600);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 3px;
  font-weight: 500;
  pointer-events: all;
}

.terms a:hover {
  color:var(--gray-400);
  cursor: pointer;
}
